*.swp
.DS_Store
.bundle
.project
.rvmrc
.sass-cache
.settings
config/database.yml
config/initializers/hoptoad.rb
config/initializers/smtp_settings.rb
coverage
db/*.sqlite3
db/schema.*
doc
log/*.log
log/*.pid
public/system/**
tmp/**/*
