config/database.yml
config/initializers/smtp_settings.rb
config/initializers/hoptoad.rb
coverage
db/schema.*
db/*.sqlite3
doc
log/*
public/system/**
.project
.sass-cache/**
.settings
tmp/
.DS_Store
*.swp
