html {
  background: #D6E6EE;
  color: #1C4F66; }

a {
  color: #C15559;
  text-decoration: none; }
  a:hover {
    color: #1C4F66; }

h2 {
  color: #51717f;
  text-transform: uppercase; }

.yui-d-custom {
  margin: auto;
  text-align: left;
  width: 70.76em;
  *width: 69em;
  min-width: 920px; }

#login {
  margin-top: 1em;
  text-align: right; }

#hd {
  background: #FFF;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 2px #9ab3ba;
  -moz-box-shadow: 1px 1px 2px #9ab3ba;
  -webkit-box-shadow: 1px 1px 2px #9ab3ba;
  height: 60px;
  line-height: 60px;
  margin: 1em 0 3em 0; }
  #hd h1 {
    background: url(../images/ruby.png) no-repeat;
    color: #51717F;
    font-size: 297%;
    line-height: 80px;
    height: 88px;
    margin: -11px 0 0 -30px;
    padding-left: 100px;
    position: absolute; }
    #hd h1 a {
      color: #51717F; }
      #hd h1 a span {
        color: #AF1F24; }

#nav {
  float: right; }
  #nav ul {
    margin: 0; }
  #nav li {
    display: inline;
    margin-right: 2em; }
    #nav li.current a {
      color: #C15559; }
  #nav a {
    color: #50707E;
    font-size: 123.1%;
    text-transform: uppercase; }
    #nav a:hover {
      color: #C15559; }

#content {
  padding: 10px 0; }
  #content .box {
    background: #B7D2DF;
    behavior: url(/stylesheets/border-radius.htc);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 1px 10px; }
    #content .box h2 {
      border-bottom: 2px solid #CAE4F0;
      padding-bottom: .5em;
      margin-bottom: .5em; }
  #content .info {
    font-style: italic; }

#content.home .box p ~ h2 {
  margin-top: 2em; }
#content.home .sidebar {
  text-align: center;
  width: 414px; }
#content.home #slide {
  background: url(/images/slide.png) no-repeat;
  height: 488px;
  position: relative; }
  #content.home #slide img {
    position: absolute;
    width: 345px;
    height: 267px;
    top: 29px;
    left: 34px; }

#content.users.index ul {
  font-size: 123.1%;
  margin: 2em 0; }
#content.users.index li {
  background: #F6F6F6;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 2px #6c8896;
  -moz-box-shadow: 1px 1px 2px #6c8896;
  -webkit-box-shadow: 1px 1px 2px #6c8896;
  display: block;
  line-height: 71px;
  height: 71px;
  list-style: none;
  margin-bottom: 1em;
  padding: 0 20px; }
#content.users.index span {
  float: left;
  width: 30%; }
#content.users.index .gravatar {
  width: 10%; }
  #content.users.index .gravatar img {
    border: 1px solid #FFF;
    vertical-align: middle; }
#content.users.index .city, #content.users.index .github {
  text-align: center; }

#content.users.show .box h3 {
  border-bottom: 2px solid #C0D4DD;
  padding-bottom: .5em;
  margin-bottom: .5em;
  color: #51717f;
  text-transform: uppercase; }
#content.users.show .user {
  background: #F6F6F6;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 2px #6c8896;
  -moz-box-shadow: 1px 1px 2px #6c8896;
  -webkit-box-shadow: 1px 1px 2px #6c8896;
  margin-bottom: 1em;
  padding: 1em 20px; }
#content.users.show .gravatar {
  float: left;
  margin-right: 1em;
  width: 48px; }
  #content.users.show .gravatar img {
    height: 48px;
    border: 1px solid #FFF;
    width: 48px; }
#content.users.show .profile {
  float: left;
  width: 796px; }
#content.users.show .info {
  line-height: 24px;
  margin-bottom: .5em; }
#content.users.show .using_ruby_since {
  background: url(../images/ruby.gif) center right no-repeat;
  float: right;
  padding-right: 40px; }
#content.users.show .about {
  border-top: 1px solid #C2D3DA;
  border-bottom: 1px solid #C2D3DA;
  padding-top: 1em;
  margin-bottom: 1em; }
  #content.users.show .about .empty {
    text-align: center;
    font-style: italic;
    color: #A0B1B8; }
#content.users.show ul.links {
  clear: both;
  margin: 0;
  text-align: right; }
  #content.users.show ul.links li {
    display: inline; }
#content.users.show ul.projects {
  background: #F6F6F6;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 2px #6c8896;
  -moz-box-shadow: 1px 1px 2px #6c8896;
  -webkit-box-shadow: 1px 1px 2px #6c8896;
  margin: 0 0 1em;
  padding: 1em 20px 0; }
  #content.users.show ul.projects li {
    display: block;
    list-style: none; }
  #content.users.show ul.projects h4 {
    border-bottom: 1px solid #C1D4DB;
    margin-bottom: .5em;
    padding-bottom: .5em; }

#content.projects ul.users {
  margin: 2em 0; }
  #content.projects ul.users > li {
    background: #F6F6F6;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    behavior: url(/stylesheets/border-radius.htc);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px #6c8896;
    -moz-box-shadow: 1px 1px 2px #6c8896;
    -webkit-box-shadow: 1px 1px 2px #6c8896;
    display: block;
    list-style: none;
    margin-bottom: 1em;
    padding: 0 20px; }
#content.projects .gravatar, #content.projects .name, #content.projects .github {
  line-height: 71px;
  float: left;
  font-size: 123.1%;
  width: 45%; }
#content.projects .gravatar {
  width: 10%; }
  #content.projects .gravatar img {
    border: 1px solid #FFF;
    vertical-align: middle; }
#content.projects .name {
  font-weight: normal;
  margin: 0; }
#content.projects .github {
  text-align: right; }
#content.projects ul.projects {
  clear: both;
  margin: 0; }
  #content.projects ul.projects li {
    display: block;
    list-style: none; }
#content.projects h4 {
  border-bottom: 1px solid #C1D4DB;
  margin-bottom: .5em;
  padding-bottom: .5em; }

#content.meetings div.next_meeting, #content.meetings div.meeting {
  background: #F6F6F6;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 2px #6c8896;
  -moz-box-shadow: 1px 1px 2px #6c8896;
  -webkit-box-shadow: 1px 1px 2px #6c8896;
  margin-bottom: 1em;
  padding: 0 10px;
  overflow: auto; }
  #content.meetings div.next_meeting .image, #content.meetings div.meeting .image {
    float: left;
    margin: .5em 2em .5em 0; }
    #content.meetings div.next_meeting .image img, #content.meetings div.meeting .image img {
      border: 4px solid #C3D1DA;
      behavior: url(/stylesheets/border-radius.htc);
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      height: 267px;
      width: 345px; }
  #content.meetings div.next_meeting h2, #content.meetings div.next_meeting h3, #content.meetings div.meeting h2, #content.meetings div.meeting h3 {
    padding-bottom: .5em;
    margin-bottom: .5em;
    margin-left: 378px;
    border-bottom: 1px solid #C0D4DD;
    text-transform: none;
    color: #51717F; }
  #content.meetings div.next_meeting h3, #content.meetings div.meeting h3 {
    margin-top: 3em; }
#content.meetings .last_mettings h3 {
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #C0D4DD;
  margin-left: 170px; }
#content.meetings .last_mettings ul {
  margin: 0; }
#content.meetings .last_mettings li {
  background: #F6F6F6;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 2px #6c8896;
  -moz-box-shadow: 1px 1px 2px #6c8896;
  -webkit-box-shadow: 1px 1px 2px #6c8896;
  display: block;
  list-style: none;
  margin-bottom: 1em;
  padding: 0 10px; }
#content.meetings .last_mettings .image {
  float: left;
  margin: .5em 1em .5em 0; }
  #content.meetings .last_mettings .image img {
    border: 3px solid #C3D1DA;
    behavior: url(/stylesheets/border-radius.htc);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 150px;
    height: 116px; }
#content.meetings a {
  text-transform: uppercase; }

#ft {
  background: #FFF;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 2px #9ab3ba;
  -moz-box-shadow: 1px 1px 2px #9ab3ba;
  -webkit-box-shadow: 1px 1px 2px #9ab3ba;
  margin: 2em 0 1em 0;
  padding: 5px 13px 10px; }
  #ft h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 .5em;
    text-transform: none; }
  #ft ul {
    margin: 0;
    text-align: center; }
  #ft li {
    display: inline;
    margin-left: 25px; }
    #ft li.first {
      margin-left: 0; }
  #ft a {
    background: #E6E6E6;
    display: inline-block;
    height: 83px;
    width: 155px; }

#credit {
  text-align: center; }
