form ol {
  margin: 0; }
form li {
  list-style: none;
  margin-bottom: .8em; }
form legend {
  color: inherit; }
form label {
  cursor: pointer;
  float: left;
  width: 25%; }
form input[type="text"], form input[type="password"], form select, form textarea {
  background: #FFF url(../images/form_input.gif) repeat-x;
  border: 1px solid #9AB3BA;
  padding: 4px;
  width: 40%; }
form input[type="checkbox"] {
  margin-right: 3px; }
form input[type="submit"], form input[type="button"] {
  background: url(../images/form_button.gif) repeat-x;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #9AB3BA;
  cursor: pointer;
  padding: 0 10px;
  font-size: 93%;
  height: 26px; }
  form input[type="submit"]:hover, form input[type="submit"]:focus, form input[type="button"]:hover, form input[type="button"]:focus {
    background-position: bottom left;
    border-color: #246F9F;
    color: #FFF; }
form select {
  width: auto;
  min-width: 20%; }
form textarea {
  width: auto;
  min-width: 40%; }
form .error input[type="text"], form .error input[type="password"], form .error select, form .error textarea {
  border-color: #F08080; }
form .inline-errors {
  color: #C00;
  margin-top: .5em;
  padding-left: 25%; }
form .date legend label, form .radio legend label {
  position: absolute; }
form .date ol, form .radio ol {
  margin-left: 25%; }
form .date li, form .radio li {
  display: inline;
  margin-right: 1em; }
form .date label, form .radio label {
  float: none;
  width: auto; }
form .date li {
  margin-right: 0; }
  form .date li label {
    display: none; }
form .date select {
  min-width: 0; }
form .buttons, form .boolean {
  padding-left: 25%; }
  form .buttons li, form .boolean li {
    display: inline; }
  form .buttons label, form .boolean label {
    float: none; }
