.box
  %h2 Cadastro
  
  %p
    Obrigado por registrar-se como membro do RailsMG.
  
  %p
    Antes de utilizar sua conta, é necessário que você confirme-a através do link recebido por email.
    
  %p
    = link_to 'Ir para a página inicial', root_path