.yui-g
  .yui-u.first
    .box
      %h2 Encontros

      %p
        Nos encontramos na primeira terça-feira de cada mês no segundo andar do
        restaurante Takê (#{link_to_take}).

      %p
        <strong>Próximo encontro:</strong> Terça-feira 22/01/09 as <strong>19:00</strong>

      %h2 Google Group

      %p
        We run a mailing list for discussion of Ruby-related topics. If you have a
        question about Ruby (or Ruby on Rails), this group can probably figure it out.

      %p
        Sign up or browse the archives. (The original list is here.)

      %h2 Looking for a developer?

      %p
        Seeking freelancer or fulltime developers? Please post a brief summary of your
        needs to the mailing list.

      %h2 Twitter

      %p
        You can follow #{link_to '@railsmg', 'http://twitter.com/railsmg'} on Twitter
        for meeting reminders and other updates.

  .yui-u.sidebar
    %h2 Última apresentação

    %p
      <strong>Encontro 2:</strong> Formtastic + HAML + SASS + InheritedResources
      por <strong>Gabriel Sobrinho</strong>

