development:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: railsmg_development
  pool: 5
  username: root
  password: 123456
  socket: /tmp/mysql.sock

test:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: railsmg_test
  pool: 5
  username: root
  password: 123456
  socket: /tmp/mysql.sock

production:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: railsmg_production
  pool: 5
  username: root
  password: 123456
  socket: /tmp/mysql.sock
