@import mixins.sass

form.formtastic
  margin: 0
  padding: 0

  ul, ol, li, fieldset, legend, input, textarea, select, p
    margin: 0
    padding: 0

  fieldset
    border: 0

  em, strong
    font-style: normal
    font-weight: normal

  ol, ul
    list-style: none

  abbr, acronym
    border: 0
    font-variant: normal

  input, textarea, select
    font-family: inherit
    font-size: inherit
    font-weight: inherit

  input, textarea, select
    font-size: 100%

  legend
    color: #000

  fieldset
    display: inline-block

    &.inputs
    &.buttons
      padding-left: 25%

    ol
    &.buttons li
      float: left
      padding-right: 0.5em

    &:after
      content: "."
      display: block
      height: 0
      clear: both
      visibility: hidden

  input[type="text"], input[type="password"], select, textarea
    background: #FFF url(../images/form_input.gif) repeat-x
    border: 1px solid #9AB3BA
    padding: 4px
    width: 40%

  input[type="checkbox"]
    margin-right: 3px

  input[type="submit"], input[type="button"]
    background: url(../images/form_button.gif) repeat-x
    +border-radius(5px)
    border: 1px solid #9AB3BA
    cursor: pointer
    padding: 0 10px
    font-size: 93%
    height: 26px

    &:hover, &:focus
      background-position: bottom left
      border-color: #246F9F
      color: #FFF

  select
    width: auto
    min-width: 20%

  textarea
    width: auto
    min-width: 40%

  .error
    input[type="text"], input[type="password"], select, textarea
      border-color: #F08080

  .inline-errors
    color: #C00
    margin-top: .5em
    padding-left: 25%

  .radio
    ol
      position: relative
      top: -1.2em
      padding-left: 25%

    li
      display: inline
      margin-right: 1em

    label
      float: none
      width: auto

  .buttons, .boolean
    padding-left: 25%

    li
      display: inline

    label
      float: none