@import mixins.sass

form
  ol
    margin: 0

  li
    list-style: none
    margin-bottom: .8em

  legend
    color: inherit

  label
    cursor: pointer
    float: left
    width: 25%

  input[type="text"], input[type="password"], select, textarea
    background: #FFF url(../images/form_input.gif) repeat-x
    border: 1px solid #9AB3BA
    padding: 4px
    width: 40%

  input[type="checkbox"]
    margin-right: 3px

  input[type="submit"], input[type="button"]
    background: url(../images/form_button.gif) repeat-x
    +border-radius(5px)
    border: 1px solid #9AB3BA
    cursor: pointer
    padding: 0 10px
    font-size: 93%
    height: 26px

    &:hover, &:focus
      background-position: bottom left
      border-color: #246F9F
      color: #FFF

  select
    width: auto
    min-width: 20%

  textarea
    width: auto
    min-width: 40%

  .error
    input[type="text"], input[type="password"], select, textarea
      border-color: #F08080

  .inline-errors
    color: #C00
    margin-top: .5em
    padding-left: 25%

  .date, .radio
    legend label
      position: absolute

    ol
      margin-left: 25%

    li
      display: inline
      margin-right: 1em

    label
      float: none
      width: auto

  .date
    li
      margin-right: 0

      label
        display: none

    select
      min-width: 0

  .buttons, .boolean
    padding-left: 25%

    li
      display: inline

    label
      float: none
